<md-card class="mt10">
  <h2><b>{{title}}</b></h2>
  
  <hr>
  
  <form (ngSubmit)="onOccupationSubmit()" [formGroup]="occupationForm">
    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>person</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text" placeholder="Nome"
        formControlName="occupation_name" maxlength="191">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>filter_none</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text"
        placeholder="Número da Ocupação"
        formControlName="occupation_number"
        maxlength="5">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>group</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text"
        placeholder="Nº da Participantes por Equipe"
        formControlName="number_participants"
        maxlength="5">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>assignment_ind</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text"
        placeholder="Idade Limite"
        formControlName="age_limit"
        maxlength="2">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>group_work</md-icon>
      </div>
      <md-select class="font-pattern" placeholder="Área Tecnológica" formControlName="occupation_group_id">
        <md-option *ngFor="let occupationGroup of occupationGroupToSelect" [value]="occupationGroup.id">{{occupationGroup.occupation_group_name}}</md-option>
      </md-select>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>group_work</md-icon>
      </div>
      <md-select class="font-pattern" placeholder="Cidade Sede" formControlName="host_id">
        <md-option *ngFor="let host of hostToSelect" [value]="host.id">{{host.host_name}}</md-option>
      </md-select>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>group_work</md-icon>
      </div>
      <md-select class="font-pattern" placeholder="Instituição" formControlName="institution_id">
        <md-option *ngFor="let institution of institutionToSelect" 
        [value]="institution.id"> 
          {{institution.institution_name}}
        </md-option>
      </md-select>
    </div>

      <div class="clear-both"></div>
      
    <div class="float-left mr10 div-form-pattern">
      <div class="float-left">
        <md-icon>person_pin</md-icon>
      </div>
      <md-input-container>
        <input mdInput type="text"
        placeholder="Apelido"
        formControlName="nickname" maxlength="191">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <md-slide-toggle [checked]="occupationForm.get('is_demonstration').value" (change)="onChangeDemonstrationOccupation($event)">Ocupação de Demonstração</md-slide-toggle>
    </div>
    
    <div class="float-left mr10 div-form-pattern">
      <md-slide-toggle [checked]="occupationForm.get('is_disability').value" (change)="onChangePCDOccupation($event)">Ocupação de PCD</md-slide-toggle>
    </div>

    <div class="clear-both"></div>

    <md-card-actions>
      <button md-raised-button type="submit" color="primary" [disabled]="!occupationForm.valid">{{submitButton}}</button>
    </md-card-actions>
  </form>
</md-card>

<div class="list mt10">
  <ntm-table-data [params]="paramsToTableData"></ntm-table-data>
</div>