<md-card>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
  *ngIf="errors.length < 1">
    <md-card-content>
      <md-input-container>
          <input mdInput formControlName="email" type="text"
          placeholder="E-mail">
      </md-input-container>

      <hr>

      <md-input-container>
        <input mdInput formControlName="password" type="password"
        placeholder="Password">
      </md-input-container>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button type="submit"
      color="primary">
        Entrar
      </button>

      <a md-raised-button (click)="onForgotPassword()"
      color="warn"
      *ngIf="params.forgotPasswordRoute">Esqueci a senha</a>
    </md-card-actions>
  </form>

  <div *ngFor="let error of errors">
    <md-error>{{ error.cod }} - {{ error.message }}</md-error>
  </div>
</md-card>