<md-card class="mt10">
    <h2><b>{{title}}</b></h2>
    
    <hr>
  
    <form (ngSubmit)="onCompetitionSubmit()" [formGroup]="competitionForm">
      <div class="float-left">
        <div class="float-left div-form-pattern">
          <md-icon class="md-18">stars</md-icon>
        </div>
        <div class="float-left mr10 div-form-pattern">
          <md-input-container>
            <input mdInput type="text" placeholder="Nome da Competição"
            formControlName="name">
          </md-input-container>
        </div>
      </div>
  
      <div class="clear-both"></div>  
      
      <div class="float-left mr10 div-form-pattern">
        <md-slide-toggle (change)="onEnableCountDown($event)"></md-slide-toggle>
        Habilitar Contador Regressivo
      </div>
      
      <div class="float-left mr10 div-form-pattern">
        <md-slide-toggle (change)="onAllowMultipleTeams($event)"></md-slide-toggle>
        Permitir Múltiplas Equipes da Mesma Delegação nas Ocupações
      </div>
  
      <div class="clear-both"></div>
  
      <fieldset>
        <legend>Cidades Sede</legend>
  
        <div class="float-left">
          <div class="float-left div-form-pattern">
            <md-icon class="md-18">location_on</md-icon>
          </div>
          <div class="float-left mr10 div-form-pattern">
            <md-input-container>
              <input mdInput type="text" placeholder="Nome da Cidade Sede" 
              formControlName="host_name">
            </md-input-container>
          </div>
        </div>
  
        <div class="float-left">
          <div class="float-left div-form-pattern">
            <md-icon class="md-18">date_range</md-icon>
          </div>
          <div class="float-left mr10 div-form-pattern">
            <md-form-field>
              <input mdInput [mdDatepicker]="cityDateStartPicker" 
              placeholder="Data Inicial" 
              formControlName="initialDate">
              <md-datepicker-toggle mdSuffix [for]="cityDateStartPicker"></md-datepicker-toggle>
              <md-datepicker #cityDateStartPicker></md-datepicker>
            </md-form-field>
          </div>
        </div>
  
        <div class="float-left">
          <div class="float-left div-form-pattern">
            <md-icon class="md-18">date_range</md-icon>
          </div>
          <div class="float-left mr10 div-form-pattern">
            <md-form-field>
              <input mdInput [mdDatepicker]="cityDateEndPicker" 
              placeholder="Data de Término" 
              formControlName="endDate">
              <md-datepicker-toggle mdSuffix [for]="cityDateEndPicker"></md-datepicker-toggle>
              <md-datepicker #cityDateEndPicker></md-datepicker>
            </md-form-field>
          </div>
        </div>
        
        <div class="float-right mr10 div-form-pattern">
          <button md-mini-fab type="button" color="primary"
          (click)="onAddCity()"
          [disabled]="competitionForm.get('host_name').value == null"><md-icon class="md-18">add</md-icon></button>
        </div>
        <div class="clear-both"></div>
  
        <div formGroupName="hosts">
          <div *ngFor="let city of competitionForm.get('hosts').value; let i = index;">
            <div [formGroupName]="i" [ngStyle]="{'background-color': city._backgroundColor}">
              <div class="float-left">
                <div class="float-left div-form-pattern">
                  <md-icon class="md-18">location_on</md-icon>
                </div>
                
                <div class="float-left mr10 div-form-pattern">
                  <md-input-container>
                    <input mdInput type="text" placeholder="Nome da Cidade Sede" 
                    formControlName="host_name">
                  </md-input-container>
                </div>
              </div> 
        
              <div class="float-left">
                <div class="float-left div-form-pattern">
                  <md-icon class="md-18">date_range</md-icon>
                </div>
                <div class="float-left mr10 div-form-pattern">
                  <md-form-field>
                    <input mdInput [mdDatepicker]="city._mdDatePickerId1?.value" 
                    placeholder="Data Inicial" 
                    formControlName="initialDate">
                    <!--<md-datepicker-toggle mdSuffix [for]="city._mdDatePickerId1?.value"></md-datepicker-toggle>
                    <md-datepicker #cityDateStartPicker = city._mdDatePickerId2.value></md-datepicker>-->
                  </md-form-field>
                </div>
              </div>
        
              <div class="float-left">
                <div class="float-left div-form-pattern">
                  <md-icon class="md-18">date_range</md-icon>
                </div>
                <div class="float-left mr10 div-form-pattern">
                  <md-form-field>
                    <input mdInput [mdDatepicker]="city._mdDatePickerId2?.value" 
                    placeholder="Data de Término" 
                    formControlName="endDate">
                    <!--<md-datepicker-toggle mdSuffix [for]="city._mdDatePickerId2"></md-datepicker-toggle>
                    <md-datepicker #{{city._mdDatePickerId2}}></md-datepicker>-->
                  </md-form-field>
                </div>
              </div>
  
              <div class="float-right mr10 div-form-pattern">
                <button md-mini-fab type="button" color="warn"
                (click)="onRemoveCity(i)">
                  <md-icon>remove</md-icon>
                </button>
              </div>
  
              <div class="clear-both"></div>
            </div>
          </div>
        </div>
        <!--<div *ngFor="let city of cityObject; let i = index;">
          <div [ngStyle]="{'background-color': city._backgroundColor}">
            <div class="float-left">
              <div class="float-left div-form-pattern">
                <md-icon class="md-18">location_on</md-icon>
              </div>
              <div class="float-left mr10 div-form-pattern">
                <md-input-container>
                  <input mdInput type="text" placeholder="Nome da Cidade Sede" 
                  value="{{city.host_name}}">
                </md-input-container>
              </div>
            </div>
      
            <div class="float-left">
              <div class="float-left div-form-pattern">
                <md-icon class="md-18">date_range</md-icon>
              </div>
              <div class="float-left mr10 div-form-pattern">
                <md-input-container>
                  <input mdInput type="text" placeholder="Data Inicial"
                  [textMask]="{mask: mask.date}"
                  value="{{city.initialDate| date: 'dd/MM/yyyy'}}">
                </md-input-container>
              </div>
            </div>
      
            <div class="float-left">
              <div class="float-left div-form-pattern">
                <md-icon class="md-18">date_range</md-icon>
              </div>
              <div class="float-left mr10 div-form-pattern">
                <md-input-container>
                  <input mdInput type="text" placeholder="Data de Término" 
                  [textMask]="{mask: mask.date}"
                  value="{{city.endDate | date: 'dd/MM/yyyy'}}">
                </md-input-container>
              </div>
            </div>
  
            <div class="float-right mr10 div-form-pattern">
                <button md-mini-fab type="button" color="warn"
                (click)="onRemoveCity(i)">
                  <md-icon>remove</md-icon>
                </button>
            </div>
  
            <div class="clear-both"></div>
          </div>
        </div>-->
      </fieldset>
  
      <md-card-actions>
        <button type="submit" md-raised-button color="primary" [disabled]="competitionForm.invalid || !competitionForm.touched">Salvar</button>
      </md-card-actions>
    </form>
  </md-card>
  
  <md-card class="list mt10">
    <ntm-table-data [params]="paramsToTableData"></ntm-table-data>
  </md-card>