<md-card class="mt10">
  <form (ngSubmit)="onDelegationSubmit()" [formGroup]="delegationForm">
    <div class="float-left mr10 div-form-pattern">
      <md-input-container>
        <input mdInput type="text" placeholder="Sigla"
        formControlName="initials">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <md-input-container>
        <input mdInput type="text" placeholder="Nome"
        formControlName="delegationName">
      </md-input-container>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <md-slide-toggle (change)="onChangeForeignDelegation($event)">Delegação Estrangeira</md-slide-toggle>
    </div>

    <div class="clear-both"></div>
    
      <md-card-actions>
        <button md-raised-button type="submit" color="primary">Salvar</button>
      </md-card-actions>
  </form>
</md-card>


<md-card class="list mt10">
  <ntm-table-data [params]="paramsToTableData"></ntm-table-data>
</md-card>