<md-card class="mt10">
  <form>
    <div class="float-left mr5 w10p">
      <md-input-container>
        <input mdInput type="text" placeholder="Sigla">
      </md-input-container>
    </div>

    <div  class="float-left mr5 w40p">
      <md-input-container>
        <input mdInput type="text" placeholder="Nome">
      </md-input-container>
    </div>

    <div  class="float-left mr5 w20p mt20">
      <md-slide-toggle>Delegação Estrangeira</md-slide-toggle>
    </div>
    
    <div class="float-left mr5 w10p mt15">
      <a md-raised-button color="primary">Salvar</a>
    </div>

    <div class="clear-both"></div>
  </form>
</md-card>
<div class="spacer"></div>
<md-card class="list">
    
</md-card>