<md-card class="mt10">
  <h2><b>{{title}}</b></h2>
  
  <hr>
  
  <form (ngSubmit)="onDelegationSubmit()" [formGroup]="delegationForm">
    <div class="float-left">
      <div class="float-left div-form-pattern">
        <md-icon class="md-18">gesture</md-icon>
      </div>
      <div class="float-left mr10 div-form-pattern">
      <md-input-container>
        <input mdInput type="text" placeholder="Sigla"
        formControlName="initials">
      </md-input-container>
      </div>
    </div>


    <div class="float-left" >
      <div class="float-left div-form-pattern">
        <md-icon class="">person</md-icon>
      </div>
      <div class="float-left mr10 div-form-pattern">
      <md-input-container>
        <input mdInput type="text" placeholder="Nome"
        formControlName="delegation_name">
      </md-input-container>
      </div>
    </div>

    <div class="float-left mr10 div-form-pattern">
      <md-slide-toggle [checked]="isForeign" (change)="onChangeForeignDelegation($event)" [checked]="isForeign">Delegação Estrangeira</md-slide-toggle>
    </div>

    <div class="clear-both"></div>
    
    <md-card-actions>
      <button md-raised-button type="submit" color="primary">{{submitButton}}</button>
    </md-card-actions>
  </form>
</md-card>


<md-card class="list mt10">
  <ntm-table-data [params]="paramsToTableData"></ntm-table-data>
</md-card>